.carousel--container {
  height: 72vh;
  max-width: 99vw;
  overflow-x: hidden;

  .carousel--main {
    height: 100%;
    width: 100%;
    &-item {
      height: 72vh;
      max-width: 100vw;
      object-fit: contain;
    }
    &-img {
      height: 100%;
      width: 100%;
    }
  }
}

@media only screen and (min-width: 320px) and (max-width: 700px) {
  .carousel--container {
    height: 35vh;
    max-width: 100vw;

    .carousel--main {
      &-item {
        height: 35vh;
      }
    }
  }
}
