.carousel--container {
  height: 75vh;
  max-width: 100vw;

  &:hover {
    overflow: hidden;
  }
}

@media only screen and (min-width: 320px) and (max-width: 700px) {
  .carousel--container {
    height: 40vh;
    max-width: 100vw;
    
  }
}
