.carousel--container {
  height: 72vh;
  width: 100vw;

  .carousel--main {
    height: 100%;
    width: 100%;
    overflow-x: hidden;

    &-item {
      height: 72vh;
      max-width: 100vw;
      overflow-x: hidden;
    }
    &-img {
      height: 100%;
      width: 100%;
    }
  }
}

@media only screen and (min-width: 320px) and (max-width: 700px) {
  .carousel--container {
    height: 35vh;

    .carousel--main {
      &-item {
        height: 35vh;
      }
    }
  }
}
