.form--container {
  height: auto;
  background: #f8f8f8;
  width: 90%;
  margin: 0 5%;
  border-radius: 5px;

  & > form {
    padding: 30px;
    width: 90%;
    margin: 0 5%;

    h4 {
      font-size: 1.2rem;
      font-family: var(--primary-font);
    }

    & > .form--group {
      & > .form--control {
        height: 3rem;
      }
      & > .textarea {
        height: 10rem;
      }
    }
    & > .joint {
      display: flex;
      justify-content: space-between;
      width: 100%;
      height: auto;
      padding: 5px;

      & > .form--group {
        height: auto;
        width: 49%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
      }
    }
  }

  & > .form--btn {
    height: 5rem;
    border-radius: 0 0 5px 5px;
    background: var(--primary-color);
  }
}

@media only screen and (min-width: 320px) and (max-width: 700px) {
  .form--container {
    opacity: 1;
    margin: 1rem 2.5%;
    width: 95%;

    form {
      padding: 30px;
      width: 100%;
      margin: 0;
    }
    .label {
      font-size: 0.9rem;
    }
    .form--group {
      padding: 0;
    }

    .form--control {
      height: 3.5rem;
      font-size: 0.9rem;
      &::placeholder {
        font-size: 0.9rem;
      }
    }
    .textarea {
      min-height: 9rem;
      font-size: 0.9rem;
      &::placeholder {
        font-size: 0.9rem;
      }
    }
    .form--btn {
      height: 4rem;
      font-weight: 500;
      font-size: 1rem;
    }
  }
}
