.header {
  height: 10vh;
  width: 100%;
  padding: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: var(--box-shadow-2);
  background: var(--light-color);

  &--logo {
    padding: 0 10px;

    & > img {
      height: 40px;
      width: 90px;
    }
  }

  &--button {
    padding: 0 15px;

    & > .btn {
      padding: 10px 20px;
      background: var(--primary--color-light);
      color: var(--light-color);
      font-size: 0.83rem;
      border-radius: 5px;
      -webkit-box-shadow: var(--box-shadow);
      -moz-box-shadow: var(--box-shadow);
      box-shadow: var(--box-shadow);
    }
  }
}

// creating a media query to handle the responsiveness of the page

// Portrait mode (phone)
@media only screen and (min-device-width: 320px) and (max-device-width: 700px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
  .header {
    height: 7vh;
    padding: 3px;

    &--logo {
      padding: 0 10px;

      & > img {
        height: 25px;
        width: 60px;
      }
    }

    &--button {
      & > .btn {
        padding: 5px 10px;
        font-size: 0.7rem;
        border-radius: 3px;
        border: var(--primary-color) 1px solid;
        -webkit-box-shadow: var(--box-shadow-light);
        -moz-box-shadow: var(--box-shadow-light);
        box-shadow: var(--box-shadow-light);
      }
    }
  }
}

@media only screen and (min-width: 320px) and (max-width: 700px) {
  .header {
    height: 7vh;
    padding: 3px;

    &--logo {
      padding: 0 10px;

      & > img {
        height: 20px;
        width: 60px;
      }
    }

    &--button {
      & > .btn {
        padding: 5px 10px;
        font-size: 0.7rem;
        border-radius: 3px;
        border: var(--primary-color) 1px solid;
        -webkit-box-shadow: var(--box-shadow-light);
        -moz-box-shadow: var(--box-shadow-light);
        box-shadow: var(--box-shadow-light);
      }
    }
  }
}

// Portrait mode (tablet)
@media only screen and (min-device-width: 700px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
  .header {
    height: 7vh;

    &--logo {
      & > img {
        height: 20px;
        width: 60px;
      }
    }
    &--button {
      & > .btn {
        padding: 2px 5px;
        font-size: 0.7rem;
        border-radius: 3px;
        border: var(--primary-color) 1px solid;
        -webkit-box-shadow: var(--box-shadow-light);
        -moz-box-shadow: var(--box-shadow-light);
        box-shadow: var(--box-shadow-light);
      }
    }
  }
}

@media only screen and (min-width: 700px) and (max-width: 1024px) {
  .header {
    height: 7vh;
    &--logo {
      & > img {
        height: 20px;
        width: 60px;
      }
    }
    &--button {
      & > .btn {
        padding: 2px 5px;
        font-size: 0.7rem;
        border-radius: 3px;
        border: var(--primary-color) 1px solid;
        -webkit-box-shadow: var(--box-shadow-light);
        -moz-box-shadow: var(--box-shadow-light);
        box-shadow: var(--box-shadow-light);
      }
    }
  }
}

// Landscape mode (phone)
@media only screen and (min-device-width: 320px) and (max-device-width: 800px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
}
