.carousel--main {
  height: 100%;
  width: 80vw;
  margin: 0 10vw;
  overflow: hidden;
  .carousel--main {
    height: 100%;
    width: 100%;
    &-item {
      height: 100%;
      width: 100%;
      object-position: center;
    }
    &-img {
      height: 100%;
      width: 100%;
    }
  }
}

@media only screen and (min-width: 320px) and (max-width: 700px) {
  .carousel--main {
    width: 100vw;
    height: 100%;
    margin: 0;
    &-item {
      height: 40vh;
      width: 100%;
      object-fit: contain;
      object-position: center;
    }
    &-img {
      height: 100%;
      width: 100%;
    }
  }
}
