.carousel--main {
  height: 100%;
  width: 100%;
  .carousel--main {
    height: 100%;
    width: 100%;
    &-item {
      height: 75vh;
      width: 100vw;
      object-fit: contain;
    }
    &-img {
      height: 100%;
      width: 100%;
    }
  }
}

@media only screen and (min-width: 320px) and (max-width: 700px) {
  .carousel--main {
    &-item {
      height: 40vh;
    }
  }
}
