.carousel--main {
  height: 100%;
  width: 70vw;
  overflow: hidden;
  .carousel--main {
    height: 100%;
    width: 100%;
    &-item {
      height: 100%;
      width: 100%;
      object-fit: contain;
    }
    &-img {
      height: auto;
      width: 100%;
    }
  }
}

@media only screen and (min-width: 320px) and (max-width: 700px) {
  .carousel--main {
    background: var(--dark-color);
    width: 100%;
    height: 100%;
    &-item {
      max-height: 100%;
      height: 100%;
      width: 100%;
      object-fit: fill;
    }
    &-img {
      height: 100%;
      width: 100%;
      background-repeat: initial;
    }
  }
}
