$insta-color-1: #736edb;
$insta-color-2: #f7854c;

.landing {
  height: auto;
  width: 100vw;

  &--container {
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  &--carousel {
    height: 72vh;
    max-width: 100vw;

    & > .carousel--container {
      height: 75vh;
      max-width: 100vw;
    }
  }
  &--info {
    background-image: url('/images/svg/islandplane.svg');
    height: auto;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    &-container {
      height: auto;
      width: 100%;
      padding: 20px;
    }

    &-tabs {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 55vw;
      align-items: center;
      height: auto;
      padding: 0;

      & > .more--info {
        width: 100%;
        height: auto;
        padding: 20px 20px;
      }
    }
    &-form {
      width: 45vw;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 0 20px;
    }
  }
  &--blank {
    height: 5vh;
    background: #0442892c;
    opacity: 0.8;
    width: 100%;
  }
}

// media queries for a responsive design

// Portrait mode (phone)
@media only screen and (min-device-width: 300px) and (max-device-width: 700px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
  .landing {
    &--container {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: auto;
    }
    &--carousel {
      height: 40vh;
      max-width: 100vw;
    }
    &--info {
      & > .info--items {
        display: flex;
        justify-content: space-between;
      }

      &-tabs {
        width: 100vw;

        & > .more--info {
          padding: 10px 10px;
        }
      }
      &-form {
        width: 100vw;
        padding: 0 10px;
      }
    }
  }
}

@media only screen and (min-width: 320px) and (max-width: 700px) {
  .landing {
    &--container {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: auto;
      padding: 0;
    }
    &--carousel {
      height: 30vh;
      max-width: 100vw;
    }
    &--info {
      margin-top: 2.2rem;
      &-container {
        & > .info--items {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
        }
      }

      &-tabs {
        width: 100vw;

        & > .more--info {
          padding: 10px 10px;

          h4 {
            font-size: 1rem;
          }
          p {
            font-size: 0.8rem;
          }
        }
      }
      &-form {
        width: 100vw;
        padding: 0 10px;
      }
    }
    &--blank {
      display: none;
    }
  }
}

// Portrait mode (tablet)
@media only screen and (min-device-width: 700px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
}

@media only screen and (min-width: 700px) and (max-width: 1024px) {
}

// Landscape mode (phone)
@media only screen and (min-device-width: 320px) and (max-device-width: 800px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
}
