.landing {
  height: auto;
  width: 100vw;

  &--container {
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0;
  }

  &--carousel {
    height: 72vh;
    max-width: 100vw;

    & > .carousel--container {
      height: 75vh;
      max-width: 100vw;
      position: relative;

      & > .carousel--heading {
        position: absolute;
        z-index: 10;
        top: 80%;
        left: 0;
        background: var(--dark-color);
        height: auto;
        width: 40vw;
        padding: 10px;
        opacity: 0.8;
        border-radius: 3px;

        & > .title {
          font-size: 1.4rem;
          opacity: 1;
          color: var(--light-color);
        }
      }
    }
  }
  &--info {
    background-image: url('/images/svg/islandplane.svg');
    height: 100%;
    width: 100%;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;

    &-container {
      height: auto;
      width: 100vw;
      padding: 20px;
      display: flex;
      justify-content: space-between;
    }

    &-tabs {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 55vw;
      align-items: center;
      height: auto;
      padding: 0;

      & > .more--info {
        width: 100%;
        height: auto;
        padding: 20px 20px;
        background: var(--primary-grey);
      }
    }
    &-form {
      width: 45vw;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 0 20px;
    }
  }
  &--blank {
    height: 5vh;
    background: #0442892c;
    opacity: 0.8;
    width: 100%;
  }
}

// media queries for a responsive design

// Portrait mode (phone)
@media only screen and (min-width: 320px) and (max-width: 700px) {
  .landing {
    &--container {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: auto;
      padding: 0;
    }
    &--carousel {
      height: 30vh;
      max-width: 100vw;

      & > .carousel--container {
        & > .carousel--heading {
          & > .title {
            font-size: 0.8rem;
            opacity: 1;
            color: var(--light-color);
          }
        }
      }
    }
    &--info {
      margin-top: 5rem;
      &-container {
        padding: 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }

      &-tabs {
        width: 100vw;

        & > .more--info {
          padding: 10px 20px;

          h4 {
            font-size: 1rem;
          }
          p {
            font-size: 0.8rem;
          }
        }
      }
      &-form {
        width: 100vw;
        padding: 0;
        margin-left: 0;
      }
    }
    &--blank {
      display: none;
    }
  }
}

// Portrait mode (tablet)
@media only screen and (min-device-width: 700px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
}

@media only screen and (min-width: 700px) and (max-width: 1024px) {
}

// Landscape mode (phone)
@media only screen and (min-device-width: 320px) and (max-device-width: 800px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
}
