.tabs {
  width: 100%;
  height: 100%;
  color: var(--grey-color);
}

.tab {
  &-content {
    width: 0;
    opacity: 0;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
    &.active {
      width: 100%;
      opacity: 1;
    }
  }
  &--container {
    width: 100%;
    padding: 0;
    background: white;
  }

  &--list {
    padding-left: 0;
    display: flex;
    flex-direction: row;

    &-item {
      position: relative;
      padding: 20px 20px;
      @include flexCenter;
      font-weight: 600;
      list-style: none;
      outline: none;
      overflow: hidden;
      cursor: pointer;
      transition: all 0.2s ease-in-out;
      &.active {
        color: var(--dark-color);
        border-bottom: 2px solid var(--accent-color);
        animation: linkAnimation 0.5s forwards;
      }
    }
  }

  &--content {
    padding: 20px;
    margin: 0 5%;
    height: auto;
    width: 100%;
    overflow: auto;
  }
}

@media only screen and (min-width: 320px) and (max-width: 700px) {
  .tab {
    &--container {
      width: 100%;
      padding: 0;
      background: white;
    }

    &--list {
      margin-left: 1.5rem;
      &-item {
        padding: 10px 10px;
        font-weight: 600;
        font-size: 0.9rem;
        &.active {
          color: var(--dark-color);
          border-bottom: 2px solid var(--accent-color);
          animation: linkAnimation 0.5s forwards;
        }
      }
    }

    &--content {
      padding: 10px 20px;
      margin: 0;
      height: auto;
      width: 100%;
      overflow: auto;
      font-size: 0.9rem;
    }
  }
}
