@import url('https://fonts.googleapis.com/css?family=Muli:400,600,700,800,900|Noto+Sans+HK:400,500,700|Poppins:400,500,600,700,800|Roboto:400,500,700,900&display=swap');

:root {
  --prmary--heading-font: 'Roboto';
  --primary-font: 'Poppins';
  --secondary-heading-font: 'Noto Sans HK';
  --secondary-font: 'Muli';
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--prmary--heading-font) var(--secondary-heading-font)
    sans-serif;
  font-weight: 500;
}

p {
  font-family: var(--primary-font), var(--secondary-font), sans-serif;
  font-weight: 400;
}

a {
  text-decoration: none;
  font-family: var(--primary-font), var(--secondary-font), sans-serif;
  font-weight: 400;

  &:hover {
    text-decoration: none;
  }
}
