@import './scss/main';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 15px;
  font-family: var(--primary-font);
}

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

  &::-webkit-scrollbar {
    width: 0.6rem;
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--primary-grey);
    border-radius: 5px;
  }
}

ul {
  list-style: none;
}

[type='date']::-webkit-inner-spin-button {
  display: none;
}
[type='date']::-webkit-calendar-picker-indicator {
  opacity: 0.9;
  color: #777;
}

.form--group {
  height: auto;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  margin-bottom: 10px;

  & > label {
    color: #888;
    font-family: var(--secondary-font);
  }

  & > .form--control {
    height: 3rem;
    border: 0.5px solid #eee;
    border-radius: 3px;
    padding: 10px 20px;
    background: var(--white-color);
    box-shadow: var(--box-shadow-2);
    position: relative;

    &::placeholder {
      color: #999;
      font-family: var(--secondary-font);
      font-size: 0.95rem;
    }

    &:focus {
      outline: none;
    }
  }

  & > .textarea {
    border: 0.5px solid #eee;
    border-radius: 3px;
    padding: 10px 20px;
    box-shadow: var(--box-shadow-2);

    &:focus {
      outline: none;
    }
  }
}

.App {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  overflow-x: hidden;
}
